@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Kode Mono';
    src: url('/fonts/kode-mono.woff2') format('woff2'),
         url('/fonts/kode-mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: "Kode Mono", monospace;
    background-color: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #000000;
        color: #f5f5f5;
    }
}

body {
    background-color: #000000;
    color: #f5f5f5;
}

.exp-body div::-webkit-scrollbar, 
body::-webkit-scrollbar{
    display: none;
}

.move-right {
    transform: translateX(100vw);
    transition: transform 0.5s ease-in-out;
}

.move-left {
    transform: translateX(-100vw);
    transition: transform 0.5s ease-in-out;
}


.binocular {
    transition: 0.25s ease-in forwards;
    animation: fill 0.5s ease-in-out forwards 0.5s;
}

@keyframes fill {
    from {
        fill: none;
    }

    to {
        fill: #141313;
    }
}

.binocular path:nth-child(1),
.arrow-left-right path:nth-child(1),
.arrow-left path:nth-child(1) {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: line-animation 2s ease-in-out forwards infinite;
}

@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
    }
}